@page "/video"
@using YoutubeExplode

<form>
    <input type="url" class="form-control" aria-describedby="youtube video link" placeholder="Video Link" @bind="url">
    <button type="button" class="btn btn-primary" @onclick="GetVideo">Submit</button>
</form>
<img src="" class="rounded mx-auto d-block">
<div class="card">
    <div class="card-body">
        <h3 class="card-header"></h3>
        <h5 class="card-title"></h5>
        <h3 class="text-body"></h3>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code {

    string url;
    void GetVideo()
    {

    }

}